# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
pubspec.lock
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Web build (caso exista)
build/web/

# IDEs
.vscode/
.idea/

# Sistema
*.log
*.tmp
*.swp
.DS_Store

# Binários
*.apk
*.ipa
